.app-container{
  display: flex;
}
.content{
  width: 100%;
}
.sidebar{
  min-height: 800px;
}
.post-card{
  margin: 20px 50px;
  text-align: center;
  
  
}
.hashtag{
   margin: 0px 3px;
}
.reactions{
  margin: 15px 0 0 0;
}
.create-post{
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
  
}
.welcome-message{
  margin-top:  50px;
  margin-bottom: 50px;
}
.loading{
  margin-top: 150px;
}